@page "/profile-overview/{username?}"

<PageTitle>PokéHama</PageTitle>

<section class="mud-grid profile-pika-bg" style="min-height: 100vh; width: 100%; justify-content: center; align-items: center; margin-top: -32px!important;">
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="centered-h rounded-lg px-8 pt-4" Elevation="20" Style="backdrop-filter: blur(2px) brightness(.6)!important; background: transparent!important;">
            <MudStack Row="false" Justify="Justify.Center" Spacing="0">
                <MudStack Row Justify="Justify.Center">
                    <MudImage Src="@($"/_content/pictures/PFP/{_data!.Pfp}")" Height="100" Style="border-radius: 50%; user-select: none;"/>
                </MudStack>
                <MudText Class="text-white pixelify mt-2" Align="Align.Center" GutterBottom Style="font-size: 24px;">
                    @($"@{Username}")
                    @if (_isPublic)
                    {
                        <MudTooltip Class="pixelify" Text="@($"{_user!.FirstName} {_user!.LastName}")" Arrow Placement="Placement.Right">
                            <MudIcon Class="text-white ml-1" Icon="@Icons.Info" Size="Size.Small" />
                        </MudTooltip>
                    }
                </MudText>
                <MudText Class="text-white fffforwa" Style="font-size: 10px;" Align="Align.Center" GutterBottom>51 ami(e)s</MudText>
                @if (_currentUser != null && _currentUser != Username)
                {
                    <MudStack Class="mt-1" Row Justify="Justify.Center">
                        <MudButton Class="fffforwa" StartIcon="@Icons.PersonAdd" IconSize="Size.Small" Size="Size.Small" Color="Color.Secondary" Variant="Variant.Filled" 
                                   Style="text-transform: none!important; font-size: 8px;">
                            Ami(e)
                        </MudButton>
                        <div>
                            <MudIconButton Class="text-white" Icon="@Icons.Share" Size="Size.Small" OnClick="@CopyToClipboardAsync"/>
                        </div>
                    </MudStack>
                }
                <div class="my-4">
                    <MudDivider Class="mx-auto" DividerType="DividerType.Middle" Style="max-width: 200px;" />
                </div>
                <MudText Class="text-white pixelify" Align="Align.Center" GutterBottom>Ce compte est @_isPublicText</MudText>
                @if (_isPublic || (_currentUser != null && _currentUser == Username))
                {
                    <MudTabs Class="my-2" TabHeaderClass="tabpanel-bg" Outlined="false" Rounded Centered SliderColor="Color.Warning">
                        <MudTabPanel Class="tabpanel-tab white-tab fffforwa" Text="Collection" Style="font-size: 12px;">
                            <MudGrid Class="my-4" Justify="Justify.Center" Style="max-height: 250px; overflow-y: scroll;">
                                @foreach (var pokemon in _collection)
                                {
                                    <MudItem xs="6" sm="4" md="4" lg="4" xl="3">
                                        <div class="collection-item" style="max-width: 150px; max-height: 150px;">
                                            <MudLink Href="@($"/overview/{pokemon.Key}")">
                                                <MudImage Class="pixel-rendered" Src="@pokemon.Value" Height="100" Style="border-radius: 50%; user-select: none;"/>
                                            </MudLink>
                                        </div>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudTabPanel>
                        
                        <MudTabPanel Class="tabpanel-tab white-tab fffforwa" Text="Amis" Style="font-size: 12px;">
                            
                        </MudTabPanel>
                    </MudTabs>
                }
            </MudStack>
        </MudPaper>
    </MudItem>
</section>