@page "/connexion"

<PageTitle>PokéHama</PageTitle>

<section class="mammouth-bg mud-grid" style="min-height: 100vh; width: 100%; justify-content: center; align-items: center; margin-top: -32px!important;">
    <MudItem xs="12" sm="6" md="4" Class="d-flex" Style="align-items: center; justify-content: center;">
        <MudStack Row="false" Spacing="0">
            <MudPaper Class="rounded-lg pt-3 pb-2 px-8" Elevation="20" Style="backdrop-filter: blur(2px) brightness(.5); background: transparent;">
                <MudText Class="text-white pixelify" Align="Align.Center" Typo="Typo.h3">Connexion</MudText>
                <MudStack Row Spacing="0">
                    <MudStack Row="false" Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center" Style="min-width: 260px;">
                        <EditForm Model="@_model" OnValidSubmit="@TrySignInAsync">
                            <MudStack Row>
                                <MudTextField T="string" @bind-Value="_username" Class="white-all pixelify my-3" Label="@($"@Identifiant")" Variant="Variant.Filled"
                                              Required For="@(() => _model.Username)" Style="min-width: 300px;"/>
                            </MudStack>
                            
                            <MudStack Class="mt-2" Row>
                                <MudTextField T="string" @bind-Value="_password" Class="white-all pixelify" Label="Mot de passe" Variant="Variant.Filled"
                                              InputType="@PasswordInputType" AdornmentIcon="@PasswordIcon" Adornment="Adornment.End"
                                              OnAdornmentClick="@(() => _shown = !_shown)" Required For="@(() => _model.Password)" Style="min-width: 300px;"/>
                            </MudStack>

                            <MudStack Class="mt-4 py-4" Row Justify="Justify.Center">
                                <MudButton Class="pixelify text-white" Color="Color.Transparent" Size="Size.Large" DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit">
                                    Se connecter
                                </MudButton>
                            </MudStack>
                            @if (_errorMessage)
                            {
                                <MudAlert Dense Elevation="1" Variant="Variant.Outlined" Severity="Severity.Error">Mauvais couple d'identifiants !</MudAlert>
                            }
                        </EditForm>
                    </MudStack>
                </MudStack>
            </MudPaper>
            <MudLink Class="mt-4" Href="/inscription" Style="text-decoration-color: #fff;">
                <MudText Class="text-white pixelify rounded-lg px-8" Align="Align.Center" Typo="Typo.h6" Style="backdrop-filter: blur(20px) brightness(.9);">
                    Pas encore inscrit ?
                </MudText>
            </MudLink>
        </MudStack>
    </MudItem>
</section>