@page "/"

<PageTitle>PokéHama</PageTitle>

<MudScrollToTop Class="mb-8 py-16">
    <MudFab Color="Color.Warning" StartIcon="@Icons.KeyboardArrowUp" />
</MudScrollToTop>
<section class="dark-bg" style="min-height: 100vh; width: 100%;">
    <MudGrid Justify="Justify.Center" Spacing="0">
        <MudItem Class="pt-16" xs="2">
            <MudStack Row="false" Justify="Justify.Center">
                <MudText Class="text-white pixelify" Typo="Typo.h4" Align="Align.Center">Mini games</MudText>
                <MudButton Class="mx-auto pixelify" Color="Color.Warning" Href="/guess">Who's that pokemon ?</MudButton>
            </MudStack>
        </MudItem>
        
        <MudItem Class="pt-3" xs="8">
            <MudText Class="text-white pixelify" Typo="Typo.h1" Align="Align.Center" GutterBottom>PokéHama</MudText>
            <MudText Class="text-white pixelify" Typo="Typo.h4" Align="Align.Center" GutterBottom>Choose your pokemon !</MudText>
            @if (_loading || !_pokemons.Any())
            {
                <MudProgressCircular Indeterminate Color="Color.Warning" />
            }
            else
            {
                <MudGrid @rendermode="InteractiveAuto" Class="mt-4" Justify="Justify.Center">
                    @for (int i=1; i <= AmountToDisplay; i++)
                    {
                        int index = i;
                        <MudItem xs="12" sm="4" md="4" lg="4" xl="3">
                            <div id="@($"poke_img-{index+5000}")" style="width: 100%; height: 100%; position: relative!important;">
                                <MudLink Href="@($"/overview/{index}")">
                                    <MudImage id="@($"{index}")" Src="@(_pokemons[index-1])" Alt="@($"pokemon-{index}")" Class="pixel-rendered pokemon-item centered scale-up floating" Style="width: 320px; height: auto;"/>
                                </MudLink>
                            </div>
                        </MudItem>
                    }
                </MudGrid>
                <MudStack Row Style="height: 5em;"></MudStack>
            }
        </MudItem>
        
        <MudItem Class="pt-16" xs="2">
            <MudStack Class="fixed" Row="false" Justify="Justify.Center">
                <MudText Class="text-white pixelify" Typo="Typo.h4" Align="Align.Center">Paramètres</MudText>
                <MudStack Class="px-16" Row>
                    <MudSlider T="int" @bind-Value="AmountToDisplay" Class="text-white pixelify" Min="1" Max="807" Color="Color.Warning" Step="3" ValueLabel>
                        Pokémons
                    </MudSlider> 
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
</section>
